<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Troll_01_1_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{0,0},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{1600,0},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{0,1000},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{1600,1000},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{0,2000},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{1600,2000},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{0,3000},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_01_1_ATTACK_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1600,1000}</string>
                <key>textureRect</key>
                <string>{{1600,3000},{1600,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero3-attack.png</string>
            <key>size</key>
            <string>{3200,4000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d690d3be03a2bd1b79f2d9b2cce5602d:c348a8b962b985211645ded5b6045a84:380dfa48a39725c3c9531e9f731fffa1$</string>
            <key>textureFileName</key>
            <string>hero3-attack.png</string>
        </dict>
    </dict>
</plist>
