<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Warrior_03__ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{0,0},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_03__ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2000,0},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_03__ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{0,1200},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_03__ATTACK_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2000,1200},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_03__ATTACK_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{0,2400},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_03__ATTACK_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2000,2400},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2-attack.png</string>
            <key>size</key>
            <string>{4000,3600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90b686f7e17c12ce6b6c0574864fb11d:979431f698627271aeba6a194af81bfd:3a407c1d36644b6165ef8e681bea1dfb$</string>
            <key>textureFileName</key>
            <string>hero2-attack.png</string>
        </dict>
    </dict>
</plist>
