<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Warrior_01__ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{0,0},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_01__ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2000,0},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_01__ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{0,1200},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_01__ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2000,1200},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_01__ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{0,2400},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior_01__ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,1200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1200}</string>
                <key>textureRect</key>
                <string>{{2000,2400},{2000,1200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero1-attack.png</string>
            <key>size</key>
            <string>{4000,3600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb82e686a4961bd3f1cc11b6366833d:ab04d1356e46db60fc2af551cbf52e66:3a407c1d36644b6165ef8e681bea1dfb$</string>
            <key>textureFileName</key>
            <string>hero1-attack.png</string>
        </dict>
    </dict>
</plist>
